version: 1.0.{build}

environment:
  nodejs_version: "6"

# Install scripts. (runs after repo cloning)
install:
  - ps: Install-Product node $env:nodejs_version
  - npm install
  - choco install redis-64
  - redis-server --service-install
  - redis-server --service-start

build: off

before_test:
  - node --version
  - npm --version

test_script:
  - npm test

